{
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "overrides": [
        {
            "files": "*.js",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
